force-app/main/default/flows/New_Flight.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>New Flight {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>New Flight</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Flight</name>
        <label>Create Flight</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <inputAssignments>
            <field>FD_Arrival_Airport__c</field>
            <value>
                <elementReference>fd_flightDistance.arrivalAriportId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FD_Departure_Airport__c</field>
            <value>
                <elementReference>fd_flightDistance.departureAirportId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FD_Distance_km__c</field>
            <value>
                <elementReference>fd_flightDistance.distance</elementReference>
            </value>
        </inputAssignments>
        <object>FD_Flight__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Flight</name>
        <label>New Flight</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Flight</targetReference>
        </connector>
        <fields>
            <name>New_Flight_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Flight_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fd_flightDistance</name>
                    <extensionName>c:fd_flightDistance</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>redirectLwc</name>
            <extensionName>c:fd_redirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>FD_Flight__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Flight</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Flight</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
